/*SELECTORES DE ETIQUETA*/
body {
    background-color: rgb(223, 255, 215);
}
span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: chocolate;
}
h1 {
    color: yellow; 
    text-align: center;
}
h2 {
    color:black; 
    text-align: center; 
}
h3 {
    color: crimson; 
    text-align: left; 
    padding-left: 20px;
    font-size: 25px;
    text-decoration: underline crimson;
}
h4 {
    color: black; 
    text-align: left; 
    padding-left: 20px;
}
p {
    color:rgb(20, 2, 43); 
    font-size: medium; 
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
/* No usado
mark {
    color: black; background: orchid;
} 
*/
/*Agrupados*/
th, td {
    padding: 5px;
    text-align: left;  
    margin-left: 15px; 
    max-width: 200px; 
}
th{
    font-style: oblique;
}
table {
    margin-left: 15px;
}
div{
    background-color: rgba(224, 255, 212, 0.664);
}

/*SELECTORES DE CLASE*/
.tablaDatosNoPers{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.email{
    color: blue;
}
.pageHeaderFoot{
    background-color: green;
    padding: 5px;
}
.formacion{
    background-color: rgba(138, 245, 165, 0.671);
}

/*SELECTORES DE ID*/
#sobreMi{
    border: 2px  solid brown;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
#tlfPers{
    color: orangered;
}

